PORT=8787
ANGEL_CLIENT_CODE=
ANGEL_API_KEY=
CLIENT_LOCAL_IP=127.0.0.1
CLIENT_PUBLIC_IP=34.70.199.153
CLIENT_MAC=00:00:00:00:00:00

ANGEL_CALLBACK_URL=https://dhanpulse.pearly-grass-5521.chatgpt.site/api/angel/callback
